<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
		<link rel="icon" href="favicon.png">

		<title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
		<style type="text/css">
		{{{css}}}
		</style>
	</head>
	<body>

	<header id="header">
		<div class="container">
			<div class="row">
				<div class="col-sm-9 col-sm-push-3">
					{{#resume.basics}}
					{{#name}}
					<h1>
						{{.}}
					</h1>
					{{/name}}
					{{#label}}
					<h2>
						{{.}}
					</h2>
					{{/label}}
					{{#baseUrl}}
					<p>
						{{.}}
					</p>
					{{/baseUrl}}
					{{/resume.basics}}
				</div>
			</div>
		</div>
	</header>
	<div id="content" class="container">

	{{#resume.basics}}
	<section id="contact" class="row">
		<aside class="col-sm-3">
			<h3>Contact</h3>
		</aside>
		<div class="col-sm-9">
			<div class="row">
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-2">
							<i class="fa fa-inbox" aria-hidden="true"></i>
						</div>
						<div>
							<a id="email-address" href="mailto:{{obfuscateEmail email}}">{{obfuscateEmail email}}</a>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<i class="fa fa-link" aria-hidden="true"></i>
						</div>
						<div>
							<a href="{{website}}" target="_blank">{{shortenWebsite website}}</a>
						</div>
					</div>
					{{#alternativeResume}}
					<div class="row">
						<div class="col-sm-2">
							<i class="fa fa-link" aria-hidden="true"></i>
						</div>
						<div>
							<a href="{{.}}">My less-traditional resume/CV</a>
						</div>
					</div>
					{{/alternativeResume}}
				</div>

				<div class="col-sm-6">
					{{#if profiles.length}}
					{{#profiles}}
					<div class="row">
						<div class="col-sm-2">
							<i class="fa fa-{{toLowerCase network}}" aria-hidden="true"></i>
						</div>
						<div>
							<div class="username">
								{{#if url}}
								<div class="url">
									<a href="{{url}}" target="_blank">{{username}}</a>
								</div>
								{{else}}
									{{username}}
								{{/if}}
							</div>
						</div>
					</div>
					{{/profiles}}
					{{/if}}
				</div>
			</div>
		</div>
	</section>
	{{/resume.basics}}

	{{#if resume.skills.length}}
	<section id="skills" class="row">
		<aside class="col-sm-3">
			<h3>Skills</h3>
		</aside>
		<div class="col-sm-9">
			<div class="row">
			{{#each resume.skills}}
			<div class="col-sm-6">
				{{#name}}
				<div class="name">
					<h4>{{.}}</h4>
				</div>
				{{/name}}
				{{#if keywords.length}}
				<ul class="keywords">
					{{#keywords}}
					<li>{{.}}</li>
					{{/keywords}}
				</ul>
				{{/if}}
			</div>
			{{/each}}
			</div>
		</div>
	</section>
	{{/if}}

	{{#if resume.work.length}}
	<section id="work" class="row">
		<aside class="col-sm-3">
			<h3>Work</h3>
		</aside>
		<div class="col-sm-9">
			<div class="row">
			{{#each resume.work}}
			<div class="col-sm-12">
				<div class="row company-title">
					<div class="col-sm-12">
						<div class="pull-left company-name">
							<h4>{{company}}</h4>
						</div>
						<div class="pull-right">
							<a href="{{website}}" target="_blank">{{shortenWebsite website}}</a>
						</div>
					</div>
				</div>

				{{#positions}}
				<div class="row">
					<div class="col-sm-5 position-title">
						{{position}}
					</div>
					<div class="col-sm-7 position-date">
						<em>{{date startDate}} — {{date endDate}}</em>
					</div>
				</div>
				{{/positions}}

				{{#summary}}
				<div class="summary position-summary">
					<p>{{.}}</p>
				</div>
				{{/summary}}
				{{#if highlights.length}}
				<ul class="highlights">
					{{#highlights}}
					<li class="bullet">{{.}}</li>
					{{/highlights}}
				</ul>
				{{/if}}
			</div>
			{{/each}}
			</div>
		</div>
	</section>
	{{/if}}

	{{#if resume.education.length}}
	<section id="education" class="row">
		<aside class="col-sm-3">
			<h3>Education</h3>
		</aside>
		<div class="col-sm-9">
			<div class="row">
			{{#each resume.education}}
			<div class="col-sm-12">
				<h4 class="strike-through">
					<span>{{institution}}</span>
					<span class="date">
						{{date startDate}} — {{date endDate}}
					</span>
				</h4>
				{{#area}}
				<div class="area">
					{{.}}
				</div>
				{{/area}}
				{{#studyType}}
				<div class="studyType">
					{{.}}
				</div>
				{{/studyType}}
				{{#if courses.length}}
				<h4>Courses</h4>
				<ul class="courses">
					{{#courses}}
					<li>{{.}}</li>
					{{/courses}}
				</ul>
				{{/if}}
			</div>
			{{/each}}
			</div>
		</div>
	</section>
	{{/if}}

	{{#if resume.awards.length}}
	<section id="awards" class="row">
		<aside class="col-sm-3">
			<h3>Awards</h3>
		</aside>
		<div class="col-sm-9">
			<div class="row">
			{{#each resume.awards}}
			<div class="col-sm-12">
				<h4 class="strike-through">
					<span>{{title}}</span>
				</h4>
				<div class="date pull-right">
					<em>Awarded</em>
					{{date date}}
				</div>
				{{#awarder}}
				<div class="awarder">
					<em>by</em>
					<strong>{{.}}</strong>
				</div>
				{{/awarder}}
				{{#summary}}
				<div class="summary">
					{{.}}
				</div>
				{{/summary}}
			</div>
			{{/each}}
			</div>
		</div>
	</section>
	{{/if}}

	{{#if resume.volunteer.length}}
	<section id="volunteer" class="row">
		<aside class="col-sm-3">
			<h3>Volunteer</h3>
		</aside>
		<div class="col-sm-9">
			<div class="row">
			{{#each resume.volunteer}}
			<div class="col-sm-12">
				<h4 class="strike-through">
					<span>{{organization}}</span>
					<span class="date">
						{{date startDate}} — {{date endDate}}
					</span>
				</h4>
				{{#website}}
				<div class="website pull-right">
					<a href="{{.}}">{{.}}</a>
				</div>
				{{/website}}
				{{#position}}
				<div class="position">
					{{.}}
				</div>
				{{/position}}
				{{#summary}}
				<div class="summary">
					<p>{{.}}</p>
				</div>
				{{/summary}}
				{{#if highlights.length}}
				<p>
					<strong>Highlights</strong>
				</p>
				<ul class="highlights">
					{{#highlights}}
					<li class="bullet">{{.}}</li>
					{{/highlights}}
				</ul>
				{{/if}}
			</div>
			{{/each}}
			</div>
		</div>
	</section>
	{{/if}}

	{{#if resume.publications.length}}
	<section id="publications" class="row">
		<aside class="col-sm-3">
			<h3>Publications</h3>
		</aside>
		<div class="col-sm-9">
			<div class="row">
			{{#each resume.publications}}
			<div class="col-sm-12">
				<h4 class="strike-through">
					<span>{{name}}</span>
					<span class="date">
						{{date releaseDate}}
					</span>
				</h4>
				{{#website}}
				<div class="website pull-right">
					<a href="{{.}}"></a>
				</div>
				{{/website}}
				{{#publisher}}
				<div class="publisher">
					<em>Published by</em>
					<strong>{{.}}</strong>
				</div>
				{{/publisher}}
				{{#summary}}
				<div class="summary">
					<p>{{.}}</p>
				</div>
				{{/summary}}
			</div>
			{{/each}}
			</div>
		</div>
	</section>
	{{/if}}

	{{#if resume.languages.length}}
	<section id="languages" class="row">
		<aside class="col-sm-3">
			<h3>Languages</h3>
		</aside>
		<div class="col-sm-9">
			<div class="row">
			{{#each resume.languages}}
			<div class="col-sm-6">
				{{#language}}
				<div class="language">
					<strong>{{.}}</strong>
				</div>
				{{/language}}
				{{#fluency}}
				<div class="fluency">
					{{.}}
				</div>
				{{/fluency}}
			</div>
			{{/each}}
			</div>
		</div>
	</section>
	{{/if}}

	{{#if resume.interests.length}}
	<section id="interests" class="row">
		<aside class="col-sm-3">
			<h3>Interests</h3>
		</aside>
		<div class="col-sm-9">
			<div class="row">
			{{#each resume.interests}}
			<div class="col-sm-6">
				{{#name}}
				<div class="name">
					<h4>{{.}}</h4>
				</div>
				{{/name}}
				{{#if keywords.length}}
				<ul class="keywords">
					{{#keywords}}
					<li>{{.}}</li>
					{{/keywords}}
				</ul>
				{{/if}}
			</div>
			{{/each}}
			</div>
		</div>
	</section>
	{{/if}}

	{{#if resume.references.length}}
	<section id="references" class="row">
		<aside class="col-sm-3">
			<h3>References</h3>
		</aside>
		<div class="col-sm-9">
			<div class="row">
			{{#each resume.references}}
			<div class="col-sm-12">
				{{#if reference}}
				<blockquote class="reference">
					<p>{{reference}}</p>
					{{#name}}
					<p class="name">
						<strong>— {{.}}</strong>
					</p>
					{{/name}}
				</blockquote>
				{{/if}}
			</div>
			{{/each}}
			</div>
		</div>
	</section>
	{{/if}}

	</div>

    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-38631652-1', 'auto');
    ga('send', 'pageview');
    </script>

    <script>
    // Email
    function rot13(text){
	    return text.replace(/[a-zA-Z]/g, function(c){
	        return String.fromCharCode((c <= "Z" ? 90 : 122) >= (c = c.charCodeAt(0) + 13) ? c : c - 26);
	    });
	};

	document.addEventListener("DOMContentLoaded", function(event) { 
		var emailElement = document.getElementById("email-address");
		emailElement.innerHTML = rot13(emailElement.innerHTML);
		emailElement.setAttribute("href", "mailto:" +emailElement.innerHTML);
	});

    </script>
	</body>
</html>
